<div data-dashboard-target="details">
  <h3><%= playlist.name %></h3>
  <hr class="highlight-line">
  <div class="song-card">
    <% playlist.songs.each do |song| %>
      <%= song.name %>
      <%= song.artist_name %>
      <%= song.spotify_image_url %>
      <%= song.duration_ms %>
    <% end %>
  </div>
</div>
