<div data-dashboard-target="details">
  <div class="playlist-details-top">
    <h3><%= playlist.name %></h3>
    <div class="playlist-card-details">
      <div class="playlist-property">
        <p>Created</p>
        <p><%=playlist.created_at.strftime('%d %b %Y')%></p>
      </div>
      <div class="playlist-property">
        <p>Songs</p>
        <p><%= playlist.playlist_songs.count %></p>
      </div>
      <% if session[:spotify_user].present? %>
        <%= button_to "Listen on Spotify", create_spotify_playlist_path(playlist), method: :post, data: {turbo: false}, form: {target: "_blank"}, class: "btn-spotify-dashboard" %>
      <% else %>
        <%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post, data: {turbo: false}, class:"navbar-link" %>
      <% end %>
    </div> <!-- end of playlist-card-details -->
  </div> <!-- end of playlist-details-top -->
  <div class="playlist-details-bottom">
    <div class="playlist-bottom-description">
      <hr class="highlight-line">
    </div> <!-- end of playlist-bottom-description -->
    <div class="playlist-bottom-songs">
      <% counter = 1 %>
      <% playlist.songs.each do |song| %>
        <div class="song-card">
          <p class="song-counter"><%= counter %></p>
          <div class="image-container">
            <div style="background-image: url(<%= song.spotify_image_url %>)" class="song-card-image"></div>
          </div>
          <div class="song-card-text">
            <div class="song-card-title">
              <p><%= song.name %></p>
            </div> <!-- end of song-card-title -->
            <div class="song-card-details">
              <div class="song-property"><%= song.artist_name %></div>
              <div class="song-property"><%= song.album_name %></div>
              <div class="song-property"><%= song.duration_ms.fdiv(60000.0).round(2) %></div>
            </div> <!-- end of song-card-details -->
          </div>
        </div> <!-- end of song-card -->
        <% counter += 1 %>
      <% end %>
    </div> <!-- end of playlist-bottom-songs -->
  </div> <!-- end of playlist-card-bottom -->
</div>
